/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@bg-color: #2196f3;
@text-color: #000000;
@link-color: #ffeb3b;
@brand-primary: #000000;
@subheader-text-color: #e7dcff;
@scrollbar-border: #000000;
@btn-primary-bg: #2196f3;
@btn-primary-border: #2196f3;
@btn-default-bg: #ffffff;
@btn-default-color: #000000;
@btn-default-border: #ffffff;
@btn-action-bg: #ffffff;
@btn-action-color: #000000;
@btn-action-border: #fffdfa;
@background-image-retina: url("../Assets/Images/background.jpg");
@modal-body-text-color: #73899b;
