<!-- Copy this file, removing the .example extension. Then fill in your connection details to get started with Rock. -->
<connectionStrings>
    <add
      name="RockContext"
      connectionString="
      Data Source=localhost;
      Initial Catalog=Rock155;
      User Id=RockUser;
      password=.tiZJpkbBd3LF9-Us2ZT;
      MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>